/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;


    /*    [09:31] Marvin Sernee

https://css-tricks.com/simplified-fluid-typography/
Simplified Fluid Typography | CSS-TricksFluid typography is the idea that font-size (and perhaps other attributes of type, like line-height) change depending on the screen size (or perhaps container queries if we had them).  The core tri...css-tricks.com<https://teams.microsoft.com/l/message/19:b70be0e1b14c4ad5a0d62ea495d01a44@thread.tacv2/1606379516711?tenantId=0907bb1e-21fc-476f-8843-02d09ceb59a7&amp;groupId=d8207e28-0682-4700-a57d-3be32d348f17&amp;parentMessageId=1606377937953&amp;teamName=BlokWeb Blok2 J2 CMD20/21&amp;channelName=Klas204&amp;createdTime=1606379516711>*/

    /*    https://www.youtube.com/watch?v=KcdBOoK3Pfw&t=893s&ab_channel=DevEd*/
}

body {
    background-color: white;
    margin: 0;
}

header {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    background-color: #2C54B1;
    top: 0;
}

/*de zoekbalk*/
header input {
    margin-left: auto;
    width: 2em;
    transition: 0.25s;
}

header input:focus {
    width: 6em;
    transition: 0.5s;

}


/*het menu*/
header nav {
    flex-basis: 100%;
    flex-shrink: 0;
    background-color: white;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    width: 100%;
}

header nav ul li {
    flex-shrink: 0;
}

header nav ul a {
    line-height: 3.75em;
    text-decoration: none;
    padding: 0 .625em 0 .625em;
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;

}
.slider{
    max-width: 100%;
    height: 200px;;
}
